@use "../../../../css/mixins.scss";

#note-video-intent-handler-component {
	& .intent__title {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	& .intent__thumbnail {
    aspect-ratio: calc(16 / 9);
		border-radius: 0.25rem;
    object-fit: cover;
    object-position: center;
		width: 100%;
	}
	& .intent__notes__title {
		margin: 0.5rem 0;
	}
	& .intent__notes {
		list-style: none;
	}
	& .intent__item {
		background-color: #333;
    border-radius: 0.25rem;
		padding: 0.5rem;
		&:hover {
			background-color: #3A3A3A;
		}
		& + .intent__item {
			margin-top: 0.5rem;
		}
		&--new {
			background-color: var(--btn-blue-color);
			&:hover {
				background-color: var(--btn-blue-hover-color);
			}
		}
		&__title {
			color: var(--text);
		}
		&__title--empty {
			color: var(--text-greyed-out);
		}
	}
}
