#note__top-controls__wrapper #note__top-controls {
	grid-template-areas: "geolocation audio" "date text";
	grid-template-columns: repeat(2, 1fr);
}

#note__control__audio {
	grid-area: audio;
	pointer-events: none;
	& .greyed-out {
		color: grey;
	}
}

#note__control__text {
	grid-area: text;
}

#note__control__date {
	grid-area: date;
}

#note__control__location {
	grid-area: geolocation;
}