#note__top-controls__wrapper #note__top-controls {
	grid-template-areas: "geolocation geolocation geolocation audio audio audio" "video video date date text text";
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	@media only screen and (min-width: 48rem) {
		grid-template-areas: "geolocation audio video date text";
		grid-template-columns: repeat(5, auto);
		grid-template-rows: 1fr;
		justify-content: flex-end;
	}
}

#note__control__audio {
	grid-area: audio;
}

#note__control__text {
	grid-area: text;
}

#note__control__date {
	grid-area: date;
}

#note__control__location {
	grid-area: geolocation;
}

#note__control__video {
	grid-area: video;
}