@use "../css/mixins.scss";

#datepicker__popover {
	@include mixins.popover;
}

#datepicker__wrapper {
	@include mixins.flex--center;
	height: 100%;
	pointer-events: none;
	width: 100%;
}

#datepicker {
	pointer-events: auto;
}
