@use "../css/mixins.scss";

#datepicker__popover {
	@include mixins.popover;
}

#datepicker__wrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

#datepicker {
	pointer-events: auto;
}
