@mixin button($color: blue) {
	@include button-clear;
	@include ellipsis;
	background-color: var(--btn-#{$color}-color);
	border-radius: 0.5rem;
	color: var(--text);
	cursor: pointer;
	padding: 0.75rem 1rem;
	&:hover {
		background-color: var(--btn-#{$color}-hover-color);
	}
}

@mixin button-clear {
	-webkit-tap-highlight-color: transparent;
	border: none;
	outline: none;
}

@mixin flex--center {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin flex($align-items: normal, $justify-content: normal) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
}

@mixin intent__item {
	background-color: #333;
	border-radius: 0.25rem;
	padding: 1rem 0.75rem;
	&:hover {
		background-color: #3A3A3A;
	}
	& + .intent__item {
		margin-top: 0.5rem;
	}
	&--new {
		background-color: var(--btn-blue-color);
		&:hover {
			background-color: var(--btn-blue-hover-color);
		}
	}
	&__title {
		color: var(--text);
	}
	&__title--empty {
		color: var(--text-greyed-out);
	}
}

@mixin intent__thumbnail {
	background-color: #0A0A0A;
	border-radius: 0.25rem;
	object-fit: contain;
	object-position: center;
	width: 100%;
	&[data-orientation='portrait'] {
		aspect-ratio: var(--aspect-ratio);
	}
}

@mixin popover {
  background-color: rgba(0, 0, 0, 0.35);
	border: none;
	height: 100%;
	margin: auto;
	width: 100%;
}

@mixin popover__content__wrapper {
	height: 100%;
	margin: 0 auto;
	max-width: 48rem;
	padding: 2rem;
	pointer-events: none;
	width: 100%;
}

@mixin popover__content {
	background-color: rgba(#222, 0.95);
	border-radius: 0.25rem;
	color: var(--text);
	height: 100%;
	max-height: 30rem;
	padding: 1rem;
	pointer-events: auto;
	width: 100%;
}