:root {
	--text: #f3f3f3;
	--text-greyed-out: #808080;
	--fill: #f3f3f3;
	--background: #000;
	--btn-red-color: #8a0000;
	--btn-red-hover-color: #780000;
	--btn-blue-color: #2151d3;
	--btn-blue-hover-color: #1c47bd;
	--btn-green-color: #2f920d;
	--btn-green-hover-color: #29830b;
	--btn-grey-color: #404040;
	--btn-grey-hover-color: #4a4a4a;
	--btn-back-color: #222;
	--btn-back-hover-color: #2a2a2a;
	--section-border-color: #333;
	--nav-background-color: #1a1a1a;
	--nav-text-color: #aaa;
	--nav-text-color-deselected-active: #888;
	--nav-text-color-selected-active: #ccc;
	--options__item__background-color: rgba(40, 40, 40, 0.985);
	--options__item__color: #eee;
}
