@use "../../css/mixins.scss";

#note-list-component #notes-header {
	@include mixins.flex--center;
	margin: 0 auto;
	max-width: 48rem;
	padding: 1rem 1.25rem;
}

#note-list-component #notes-heading {
	flex-grow: 1;
}

#note-list-component #notes-add {
	@include mixins.flex();
	background-color: var(--btn-blue-color);
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.35);
	color: var(--text);
	cursor: pointer;
	outline: none;
	padding: 1rem;
	text-decoration: none;
	transition: background-color 150ms ease-in-out;
	&:hover {
		background-color: var(--btn-blue-hover-color);
	}
	& img {
		height: 1.5rem;
		pointer-events: none;
		width: 1.5rem;
	}
}

#note-list-component #notes {
	border: none;
	border-radius: 0.25rem;
	margin: 0 auto;
	max-width: 48rem;
	padding: 0 1rem 1rem;
}

#note-list-component #notes__pinned,
#note-list-component #notes__unpinned {
	margin-top: 1rem;
	display: none;
	&.active {
		display: block;
	}
}

#note-list-component .notes-list,
#note-list-component #notes-empty {
	border-radius: 0.25em;
	margin: 0.75em 0 0 0;
}

#note-list-component .notes-list {
	list-style: none;
	padding: 0;
}

#note-list-component #notes-empty {
	@include mixins.flex--center;
	background-color: #1a1a1a;
	padding: 1em;
	text-align: center;
	& p {
		line-height: 1.35em;
		margin: 0;
		text-wrap-style: balance;
	}
}
