@use "sass:math";
@use "../../css/mixins.scss";

#video-camera-component {
	@include mixins.flex(normal, space-between);
	height: 100%;
	left: 0;
	flex-direction: column;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	&.active {
		visibility: visible;
	}
}

#video-camera-component #video-camera__top-controls {
	background-color: #333;
	height: 3rem;
	width: 100%;
}

#video-camera-component #video-camera__bottom-controls {
	@include mixins.flex(center, space-between);
	background-color: #333;
	height: 5rem;
	width: 100%;
}

#video-camera-component #video-camera__close-camera {
	@include mixins.button(red);
	width: 5rem;
}

#video-camera-component #video-camera__record {
	$baseBackgroundColor: #800000;
	@include mixins.button-clear;
	@include mixins.flex--center;
	background-color: $baseBackgroundColor;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	height: 3.5rem;
	outline: none;
	overflow: hidden;
	padding: 0 1rem;
	transition: background-color 100ms ease-in-out;
	width: 3.5rem;
	&:active {
		background-color: #000;
	}
	&::after {
		background-color: $baseBackgroundColor;
		border-radius: 0.25rem;
		content: '';
		display: block;
		height: 1rem;
		pointer-events: none;
		transition: background-color 150ms ease-in-out, height 150ms ease-in-out, width 150ms ease-in-out;
		width: 1rem;
	}
	&.recording::after {
		background-color: #600000;
		height: 1.5rem;
		width: 1.5rem;
	}
}

#video-camera-component #video-camera__flip-camera {
	@include mixins.button();
	width: 5rem;
}