@use "../../css/mixins.scss";

#intent-component {
	@include mixins.popover;
}

#intent-component #intent__wrapper {
	@include mixins.popover__content__wrapper;
}

#intent-component #intent {
	@include mixins.popover__content;
}
