.note-entry-component {
	display: flex;
	min-height: 3rem;
	& + .note-entry-component {
		margin-top: 1rem;
	}
	&.sortable-ghost {
		opacity: 0.25;
	}
}

.note-entry__content {
	align-items: center;
	display: flex;
	flex-grow: 1;
	min-width: 0;
}
