@use "../../../css/mixins.scss";

#tag-manager__popover {
	@include mixins.popover;
}

#tag-manager__wrapper {
	@include mixins.flex--center;
	@include mixins.popover__content__wrapper;
}

#tag-manager {
	@include mixins.popover__content;
	display: grid;
	gap: 0.75rem;
	grid-template-areas: "heading" "top-controls" "content" "bottom-controls";
	grid-template-rows: auto auto 1fr auto;
}

#tag-manager__heading {
	grid-area: heading;
}

#tag-manager__top-controls {
	grid-area: top-controls;
}

#tag-manager__search {
	border: none;
	border-radius: 0.25rem;
	display: block;
	outline: none;
	padding: 0.5rem;
	width: 100%;
}

#tag-manager__content {
	@include mixins.flex();
	flex-direction: column;
	grid-area: content;
}

.tag-manager__tag-list {
	list-style: none;
	&__item {
		//
	}
}

#tag-manager__bottom-controls {
	display: grid;
	gap: 0.5rem;
	grid-area: bottom-controls;
	grid-template-columns: 1fr 1fr;
}

.tag-manager__action {
	@include mixins.flex(center);
	background-color: #222;
	border-radius: 0.5rem;
	color: var(--text);
	gap: 0.5rem;
	padding: 0.75rem;
	text-decoration: none;
	transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
	& img {
		pointer-events: none;
		width: 1.25rem;
		height: 1.25rem;
	}
	&:hover {
		background-color: #333;
	}
}

#tag-manager__close {
	background-color: var(--btn-red-color);
	&:hover {
		background-color: var(--btn-red-hover-color);
	}
}

#tag-manager__create {
	background-color: var(--btn-blue-color);
	&:hover {
		background-color: var(--btn-blue-hover-color);
	}
	&.disabled {
		pointer-events: none;
		background-color: #888;
		color: #555;
	}
}
