@use "../../css/mixins.scss";

#home-component {
	@include mixins.flex--center;
	height: 100%;
}

#home-component #centered-content {
	@include mixins.flex(normal, center);
	flex-direction: column;
}

#home-component #logo {
	border-radius: 0.25em;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}

#home-component #title {
	color: #fff;
	margin-top: 0.5rem;
	text-align: center;
}

#home-component #buttons {
	@include mixins.flex();
	flex-direction: column;
	margin-top: 2em;
}

#home-component .buttons-primary {
	background-color: var(--btn-blue-color);
	border-radius: 0.25em;
	color: white;
	font-size: 26px;
	border: 0;
	letter-spacing: 0.06em;
	padding: 0.75rem 1.5rem;
	text-transform: uppercase;
	transition: border-color 0.3s, color 0.3s, background-color 0.3s;
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
}

#home-component .buttons-primary:hover {
	background-color: var(--btn-blue-hover-color);
	color: white;
	border-color: white;
}
