@use "../../css/mixins.scss";

$navPadding: 1rem;

nav#nav {
	@include mixins.flex--center;
	border-top: 2px solid var(--section-border-color);
	grid-area: nav;
	padding: $navPadding;
}

#nav-list {
	@include mixins.flex(normal, space-between);
	background-color: var(--nav-background-color);
	border: 2px solid var(--section-border-color);
	border-radius: 0.5rem;
	flex-direction: row;
	height: 100%;
	width: 100%;
	max-width: calc(48rem - (2 * $navPadding));
}
