@use "../../../../css/mixins.scss";

#note-text-intent-handler-component {
	& .intent__title {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	& .intent__text {
    word-wrap: break-word;
	}
	& .intent__notes__title {
		margin: 0.5rem 0;
	}
	& .intent__notes {
		list-style: none;
	}
	& .intent__item {
		@include mixins.intent__item;
	}
}
