#note-component {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	height: 100%;
	padding: 0.75rem 0;
	width: 100%;
}

#note-component #note__top-controls__wrapper,
#note-component #note__bottom-controls__wrapper {
	margin: 0 auto;
	max-width: 48rem;
	width: 100%;
}

#note-component #note__top-controls,
#note-component #note__bottom-controls {
	align-items: center;
	border-radius: 0.5rem;
	display: grid;
	gap: 0.75rem;
	margin: 0 1rem;
	@media only screen and (min-width: 48rem) {
		display: flex;
		justify-content: flex-end;
	}
}

#note-component #note__bottom-controls {
	grid-template-areas: "date date" "tags archive" "pin done";
	grid-template-columns: repeat(2, 1fr);
}

#note-component .note__control {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	text-decoration: none;
	color: var(--text);
	background-color: #222;
	border-radius: 0.5rem;
	padding: 0.75rem;
	transition: background-color 150ms ease-in-out;
	& img {
		pointer-events: none;
		width: 1.25rem;
		height: 1.25rem;
	}
	&:hover {
		background-color: #333;
	}
}

#note-component #note__content__wrapper {
	flex-grow: 1;
	margin: 0 auto;
	max-width: 48rem;
	min-height: 0;
	width: 100%;
}

#note-component #note__content {
	background-color: #141414;
	border-radius: 0.5rem;
	height: 100%;
	margin: 0 1rem;
	overflow-y: auto;
	padding: 1rem;
}

#note-component #note__tags__list {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin-bottom: 0.75rem;
}

#note-component .note__tag {
	background-color: #1e2e93;
	padding: 0.35rem 0.75rem;
	border-radius: 0.25rem;
	font-size: 0.75rem;
}

#note-component #note__title {
	background-color: transparent;
	border: none;
	color: var(--text);
	field-sizing: content;
	font-family: VarOpenSans;
	font-size: 1.35rem;
	outline: none;
	resize: none;
	width: 100%;
}

#note-component #note__draggables {
	margin-top: 1rem;
}

#note-component #note__control__date {
	grid-area: date;
}

#note-component #note__control__tags {
	grid-area: tags;
}

#note-component #note__control__archive {
	grid-area: archive;
}

#note-component #note__control__pin {
	grid-area: pin;
}

#note-component .note__control__archive--active {
	background-color: #ad6704;
	&:hover {
		background-color: darken(#ad6704, 5);
	}
}

#note-component .note__control__pin--active {
	background-color: #931a07;
	&:hover {
		background-color: darken(#931a07, 5);
	}
}

#note-component #note__control__done {
	grid-area: done;
}
