@use "../../../css/mixins.scss";

#applications-component .app-list__item {
	align-items: center;
	border: 2px solid var(--section-border-color);
	border-radius: 0.5em;
	background-color: #151515;
	display: grid;
	grid-template-areas: "data data" "user actions";
	grid-template-columns: 1fr auto;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	transition: background-color 150ms ease-in-out;
	&__data {
		grid-area: data;
		width: 100%;
	}
	&__actions {
		display: grid;
		grid-template-areas: "edit open" "delete open";
		grid-template-columns: 2fr 3fr;
		gap: 0.5rem;
		grid-area: actions;
		margin: 0.5rem;
		max-width: 12rem;
	}
	&__url {
		background-color: #000;
		border-bottom: 2px solid #202020;
		font-weight: 600;
		overflow: hidden;
		padding: 1rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
	&__user {
		@include mixins.flex(center);
		grid-area: user;
		padding: 1rem;
		min-width: 0;
		width: 100%;
		& img {
			height: 2rem;
			width: 2rem;
		}
	}
	&__username {
		overflow: hidden;
		padding: 0 0 0 0.5rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
	&__action {
		border: none;
		border-radius: 0.25rem;
		color: var(--text);
		cursor: pointer;
		outline: none;
		padding: 0.75rem;
		transition: background-color 150ms ease-in-out;
		& img {
			display: block;
			height: 1.75em;
			margin: 0 auto;
			pointer-events: none;
			width: 1.75em;
		}
	}
	&__delete {
		background-color: var(--btn-red-color);
		grid-area: delete;
		&:hover {
			background-color: var(--btn-red-hover-color);
		}
	}
	&__edit {
		background-color: var(--btn-blue-color);
		grid-area: edit;
		&:hover {
			background-color: var(--btn-blue-hover-color);
		}
	}
	&__open {
		background-color: var(--btn-grey-color);
		grid-area: open;
		& img {
			height: 2rem;
			width: 2rem;
		}
		&:hover {
			background-color: var(--btn-grey-hover-color);
		}
	}
	p {
		margin: 0;
	}
	& + .app-list__item {
		margin-top: 0.75em;
	}
}
