@use "../../../css/mixins.scss";

.note-entry-component {
	@include mixins.flex();
	min-height: 3rem;
	& + .note-entry-component {
		margin-top: 1rem;
	}
	&.sortable-ghost {
		opacity: 0.25;
	}
}

.note-entry__content {
	@include mixins.flex(center);
	flex-grow: 1;
	min-width: 0;
}
